:root {
  --brand-dark-color: #2e2f42;
  --brand-light-color: #ffffff;
  --text-color: #434455;
  --logotype-color: #4d5ae5;
  --dark-logo: #2e2f42;
  --light-logo: #f4f4fd;
  --footer-text-color: #f4f4fd;
  --menu-link-color: #2e2f42;
  --menu-links-accent: #404bbf;
  --menu-buttons-text: #4d5ae5;
  --buttons-text: #ffffff;
  --modal-btn-background: #4d5ae5;
  --buttons-accent-background: #404bbf;
  --button-border-color: #e7e9fc;
  --brand-light-background: #f4f4fd;
  --border-color: #e7e9fc;
}

/* ====== Components====== */

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color, slate);
  background-color: var(--brand-light-color);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.section {
  padding-left: 156px;
  padding-right: 156px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo-theme-dark {
  color: var(--dark-logo);
}

.logo-theme-light {
  color: var(--light-logo);
}

.footer-container {
  margin-bottom: 100px;
  min-width: 264px;
  max-width: 264px;
}

.footer {
  background-color: var(--brand-dark-color);
  padding-top: 100px;
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
  margin-top: 16px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
/* ====== /Components====== */

/* ====== Header====== */

.page-header {
  display: flex;
  align-items: center;
  border-bottom: solid var(--border-color) 1px;
}

.page-header-container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logotype {
  display: flex;
  align-items: center;
  margin-right: 76px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logotype-color);
}
/* ====== /Header====== */

/* ====== Navigation====== */

.page-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--menu-link-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--menu-links-accent);
}
/* ====== /Navigation====== */

/* ====== Contact information====== */

.contact-list {
  display: flex;
  align-items: center;
  margin-left: 332px;
  column-gap: 40px;
}

.contacts {
  font-style: normal;
}
.contact-item,
.contact-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.contact-item:hover,
.contact-item:focus {
  color: var(--menu-links-accent);
}

/* ====== /Contact information====== */

/* ====== Main Hero Section====== */
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--brand-light-color);
}

.modal-btn {
  min-width: 186px;
  padding: 16px 32px 16px 32px;
  border-radius: 4px;
  margin: 48px 480px 188px 480px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--buttons-text);
  background-color: var(--modal-btn-background);
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  color: var(--buttons-text);
  background-color: var(--buttons-accent-background);
}

.hero {
  background-color: var(--brand-dark-color);
  padding-top: 188px;
  padding-left: 472px;
  padding-right: 472px;
  padding-bottom: 188px;
  margin-bottom: 48px;
}
/* ====== /Main Hero Section====== */

/* ====== Main Features Section=== */

.features-hidden-header {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-section-list {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.features-header {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brand-dark-color);
}

.features-descr {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ====== /Main Features Section=== */

/* ====== Main Projects Section */

.projects-section-list {
  display: flex;
  align-content: center;
  gap: 24px;
}

.main-projects-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--brand-dark-color);
}
/* ====== /Main Projects Section */

/* ====== Main Team Section ====== */

.team-section {
  background-color: var(--brand-light-background);
}

.team-list-item {
  background-color: var(--brand-light-color);
}

.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--brand-dark-color);
}

.team-section-list {
  display: flex;
  align-content: center;
  gap: 24px;
}

.team-members-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brand-dark-color);
}

.team-member-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ====== /Main Team Section====== */

/* ====== Portfolio Section ====== */

.filter-hidden-header {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-section-list {
  display: flex;
  /* align-content: center; */
  justify-content: center;
  gap: 24px;
}

.button {
  cursor: pointer;
  border: 1px solid var(--button-border-color, cornflower);
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--brand-light-background);
  color: var(--menu-buttons-text, iris);
}

.button:hover,
.button:focus {
  color: var(--buttons-text);
  background: var(--buttons-accent-background);
}

.projects-list {
  display: flex;
  column-gap: 24px;
  flex-wrap: wrap;
}

.portfolio-projects-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brand-dark-color);
}

.portfolio-projects-descr {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
/* ====== /Portfolio  Section ====== */
